*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    overflow: hidden;

}

#root
{
    position: relative;
    width: 100px;
    height: 150px;
    display: flex;
}

#root div
{
    position: absolute;
    min-width: 60px;
    min-height: 80px;
    background-color: red;
    box-shadow: 0 0 40px black;
}